//- div This is the sta001 view.

.container
  .row
    .col-lg-12(
      style="background-color: grey")
      h1.page-header Kit Barcode Generator
      .container
        div.col-lg-12(
          ng-form="sta001-form"
          style="background-color: pink")

          div.col-lg-12
            ul.list-unstyled.col-lg-4
              li
                label parameters (debug only)
              li
                pre {{$ctrl.parameters | json}}
            ul.list-unstyled.col-lg-4
              li
                label productBarcodes (debug only)
              li
                pre {{$ctrl.productBarcodes | json}}

            ul.list-unstyled.col-lg-4
              li
                label kitBarcode (debug only)
              li
                pre {{$ctrl.kitBarcode | json}}

          div.col-lg-12
            div(ng-class="{'col-lg-9': $ctrl.isKitBarcodePreviewEnabled, 'col-lg-11': !$ctrl.isKitBarcodePreviewEnabled}")

              ul.list-unstyled
                li
                  label kit structure
                li
                  pre {{$ctrl.newSta001 | json}}

              ul.list-unstyled
                li
                  label kit barcode
                li.form-group
                  input.form-control(
                    type="text"
                    id="sta001InputKitBarcode"
                    placeholder="KitBarcode"
                    ng-model="$ctrl.newSta001.input.kitBarcode"
                    ng-change="$ctrl.updateKitBarcode('kitBarcode')")

              div.form-group.col-lg-4
                label kit code
                input.form-control(
                  type="text"
                  id="sta001InputKitCode"
                  placeholder="KitCode"
                  ng-model="$ctrl.newSta001.input.kitCode"
                  ng-change="$ctrl.updateKitBarcode('kitCode')")
              div.form-group.col-lg-4
                label kit lot
                input.form-control(
                  type="text"
                  id="sta001InputLot"
                  placeholder="kitLot",
                  ng-model="$ctrl.newSta001.input.kitLot"
                  ng-change="$ctrl.updateKitBarcode('kitLot')")
              div.form-group.col-lg-4
                label kit expiry
                input.form-control(
                  type="text",
                  id="sta001InputExpiry",
                  placeholder="kitExpiry",
                  ng-model="$ctrl.newSta001.input.kitExpiry",
                  ng-change="$ctrl.updateKitBarcode('kitExpiry')")

            div(ng-class="{'col-lg-3': $ctrl.isKitBarcodePreviewEnabled, 'col-lg-1': !$ctrl.isKitBarcodePreviewEnabled}")

              ul.list-unstyled.col-lg-12
                li
                  button.btn.btn-primary(
                    ng-show="!$ctrl.isKitBarcodePreviewEnabled",
                    ng-click="$ctrl.isKitBarcodePreviewEnabled = true; $ctrl.updateKitBarcode('kitExpiry');") SHOW barcodes
                li
                  button.btn.btn-default(
                    ng-show="$ctrl.isKitBarcodePreviewEnabled",
                    ng-click="$ctrl.isKitBarcodePreviewEnabled = false") HIDE barcodes

              ul.list-unstyled.kitBarcodePreview.col-lg-12(
                ng-show="$ctrl.isKitBarcodePreviewEnabled"
                style="background-color: GoldenRod")

              //- ul.list-unstyled(
              //-   ng-show="$ctrl.isKitBarcodePreviewEnabled"
              //-   style="background-color: GoldenRod")
              //-   li
              //-     canvas.kitBarcodePreview

          div.col-lg-12

            div(
              ng-class="{'col-lg-9': $ctrl.isProductBarcodesPreviewEnabled, 'col-lg-11': !$ctrl.isProductBarcodesPreviewEnabled}")

              div.form-group.col-lg-4
                label parameters count
                input.form-control(
                  type="number"
                  id="sta001InputParametersCount"
                  ng-model="$ctrl.newSta001.input.parametersCount"
                  ng-change="$ctrl.parametersCountChange()"
                  min="0")
                ul.list-unstyled
                  li(ng-repeat="parameter in $ctrl.getParameters() track by $index")
                    label parameter ({{$index}})
                    input.form-control(
                      type="text",
                      id="sta001InputParameter{{$index}}"
                      placeholder="Parameter{{$index}}"
                      ng-model="$ctrl.newSta001.input.parameters[$index]"
                      ng-change="$ctrl.updateKitBarcode('parameter'+{{$index}})")
                    //- ng-model="$ctrl.newSta001.input.parameters[$index]"
                    //- ng-model="$ctrl.parameters[$index]"
                    //- ng-change="$ctrl.updateKitBarcode('parameter')")

              div.form-group.col-lg-8
                label products count
                input.form-control(
                  type="number"
                  id="sta001InputProductsCount"
                  ng-model="$ctrl.newSta001.input.productsCount"
                  ng-change="$ctrl.productsCountChange()"
                  min="1"
                  max="9")
                ul.list-unstyled
                  li(ng-repeat="productCode in $ctrl.getProductCodes() track by $index")
                    div.form-group.col-lg-6
                      label product code ({{$index}})
                      input.form-control(
                        type="text",
                        id="sta001InputProductCode{{$index}}"
                        placeholder="ProductCode{{$index}}"
                        ng-model="$ctrl.newSta001.input.productCodes[$index]"
                        ng-change="$ctrl.updateKitBarcode('productCode'+{{$index}})")
                    div.form-group.col-lg-6
                      label product barcode ({{$index}})
                      pre {{$ctrl.productBarcodes[$index] | json}}
                    //- ng-model="$ctrl.newSta001.input.productBarcodes[$index]"
                    //- ng-model="$ctrl.productBarcodes[$index]"
                    //- ng-change="$ctrl.updateKitBarcode('productCode')")

            div(ng-class="{'col-lg-3': $ctrl.isProductBarcodesPreviewEnabled, 'col-lg-1': !$ctrl.isProductBarcodesPreviewEnabled}")

              ul.list-unstyled
                li
                  button.btn.btn-primary(
                    ng-show="!$ctrl.isProductBarcodesPreviewEnabled",
                    ng-click="$ctrl.isProductBarcodesPreviewEnabled = true; $ctrl.updateKitBarcode('kitExpiry');") SHOW barcodes
                li
                  button.btn.btn-default(
                    ng-show="$ctrl.isProductBarcodesPreviewEnabled",
                    ng-click="$ctrl.isProductBarcodesPreviewEnabled = false") HIDE barcodes

              ul.list-unstyled.productBarcodesPreview.col-lg-12(
                style="background-color: GoldenRod")

          div.col-lg-12(
            style="background-color: black")
            button.btn.btn-primary(
              type="submit"
              ng-click="$ctrl.saveSta001()") Save
            button.btn.btn-warning(
              type="reset"
              ng-click="$ctrl.clearSta001()") Clear
